// Astra secrets to connect to rest endpoint
// https://docs.astra.datastax.com/docs/generating-authorization-token
//
// FIXME: The token needs to be regenerated every new session...

const ASTRA_AUTH_TOKEN = ''
const ASTRA_CLUSTER_ID = ''
const ASTRA_REGION = 'us-east1'

module.exports = {
    ASTRA_AUTH_TOKEN: ASTRA_AUTH_TOKEN,
    ASTRA_CLUSTER_ID: ASTRA_CLUSTER_ID,
    ASTRA_CLUSTER_REGION: ASTRA_REGION,
};